h1 {
    color :aqua;
    font-size: 30px;
}
#Marisa {
    color: gold;
}
#Reimu {
    color: red;
}
#Rinnosuke {
    color: blue;
}
#Patchouli {
    color: palevioletred;
}
#Rumia {
    color: maroon;
}
a {
    color: purple;
}